Repository boostcamp-2020/Project18-B-Web-Duxit, pull requests merged in 2020-12, with the labels that each got.

#73 [Feat/left tab#18] 좌측 탭 기능 구현 + 닉네임 변경 기능 구현
  src/backend/game/Game.js
  src/backend/game/GameList.js
  src/backend/game/User.js
  src/backend/sockets/exitRoom.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/nickname.json
  src/frontend/engine/DuckObject.js
  src/frontend/game/game.html
  src/frontend/game/game.js
  src/frontend/game/game.scss
  src/frontend/game/left.scss
  src/frontend/game/leftTab.js
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/utils/common.scss
Labels: back-end 🌚, front-end 🌝

#75 유저 준비 버튼, 모두 준비 되었을 때 게임 시작 #24 #28 #45
  src/backend/game/User.js
  src/backend/sockets/waitingRoom.js
  src/frontend/engine/GameObject.js
  src/frontend/engine/SvgObject.js
  src/frontend/game/game.js
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/scenes/waitingRoom/socket.js
  src/frontend/scenes/waitingRoom/waitingRoom.scss
  src/frontend/utils/common.scss
Labels: back-end 🌚, front-end 🌝

#76 CardObject 생성, GameObject 속성 여러개 추가
  src/frontend/engine/CardObject.js
  src/frontend/engine/GameObject.js
  src/frontend/engine/ImageObject.js
  src/frontend/game/game.js
  src/frontend/game/game.scss
  src/frontend/resources/back.png
  src/frontend/resources/front.png
  src/frontend/scenes/waitingRoom/waitingRoom.scss
  src/frontend/utils/common.scss
Labels: front-end 🌝

#81 남은 시간을 확인하는 Progress Bar 구현
  src/frontend/engine/ProgressBarObject.js
  src/frontend/game/game.html
  src/frontend/game/game.scss
  src/frontend/utils/common.scss
  src/frontend/utils/time.js
Labels: front-end 🌝

#82 FE SceneManager 구현, 기존 scene을 class로 대응
  src/frontend/game/game.js
  src/frontend/scenes/someNextScene/index.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/scenes/waitingRoom/socket.js
  src/frontend/utils/SceneManager.js
Labels: emergency🚨, front-end 🌝, refactor 🚀

#85 게임 시작하면서 이야기꾼 지정되는 이벤트 구현
  src/backend/game/Game.js
  src/backend/package.json
  src/backend/sockets/exitRoom.js
  src/backend/sockets/index.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/number.js
  src/frontend/game/game.js
  src/frontend/scenes/roundStart/index.js
  src/frontend/scenes/roundStart/render.js
  src/frontend/scenes/roundStart/roundStart.scss
  src/frontend/scenes/someNextScene/index.js
  src/frontend/scenes/waitingRoom/socket.js
  src/frontend/scenes/waitingRoom/waitingRoom.scss
  src/frontend/utils/text.js
Labels: back-end 🌚, front-end 🌝

#84 카드 오브젝트 마우스 올리면 위로 올라가는 애니메이션
  src/frontend/engine/CardObject.js
  src/frontend/engine/GameObject.js
  src/frontend/utils/common.scss
Labels: front-end 🌝, refactor 🚀

#89 게임 스테이트 관리 상수 추가
  src/backend/game/Game.js
  src/backend/utils/gameState.js
Labels: back-end 🌚, emergency🚨

#91 duck svg 함수 추가 🐤
  src/frontend/utils/duck.js
Labels: emergency🚨, front-end 🌝

#94 새로 고침시 유저 증식하는 버그 해결
  src/backend/sockets/exitRoom.js
  src/frontend/game/game.js
  src/frontend/game/leftTab.js
Labels: back-end 🌚, bug 💩, front-end 🌝

#96 화면 guesser select card의 백엔드 코드
  src/backend/game/Game.js
  src/backend/game/User.js
  src/backend/sockets/guesserSelectCard.js
  src/backend/sockets/index.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/generateRandom.js
  src/backend/webpack.config.js
Labels: back-end 🌚, refactor 🚀

#98 BE->FE 'get round data' socket event 완성
  src/backend/.env.sample
  src/backend/game/Card.js
  src/backend/game/Game.js
  src/backend/game/User.js
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/server.js
  src/backend/sockets/exitRoom.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/generateRandom.js
  src/backend/utils/number.js
  src/backend/webpack.config.js
Labels: back-end 🌚, environment ⚙️

#101 왼쪽탭 UI 수정
  src/backend/utils/generateRandom.js
  src/frontend/engine/DuckObject.js
  src/frontend/game/game.scss
  src/frontend/game/left.scss
  src/frontend/utils/duck.js
Labels: front-end 🌝

#99 DuckObject 수정 + 게임 시작 후 씬 분리
  src/frontend/engine/DuckObject.js
  src/frontend/engine/GameObject.js
  src/frontend/engine/ProgressBarObject.js
  src/frontend/game/leftTab.js
  src/frontend/scenes/guesserWaiting/guesserWaiting.scss
  src/frontend/scenes/guesserWaiting/index.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/roundStart/index.js
  src/frontend/scenes/roundStart/render.js
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/tellerSelectCard/tellerSelectCard.scss
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/utils/text.js
  src/frontend/utils/type.js
Labels: front-end 🌝

#103 프론트엔드 코드 리팩토링
  src/frontend/engine/DuckObject.js
  src/frontend/engine/GameObject.js
  src/frontend/game/game.js
  src/frontend/scenes/guesserWaiting/index.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/utils/number.js
Labels: emergency🚨, front-end 🌝, refactor 🚀

#104 Guesser Waiting 화면 UI 구성
  .vscode/settings.json
  src/backend/game/Game.js
  src/frontend/.stylelintrc.js
  src/frontend/engine/CardObject.js
  src/frontend/engine/GameObject.js
  src/frontend/scenes/guesserWaiting/cardPosition.json
  src/frontend/scenes/guesserWaiting/guesserWaiting.scss
  src/frontend/scenes/guesserWaiting/render.js
Labels: emergency🚨, front-end 🌝, meeting 👨‍👨‍👧‍👦

#110 fix: 잘못된 작업 수정
  src/frontend/engine/CardObject.js
Labels: emergency🚨

#108 Feat : duck 모자 SVG 추가 (#107)
  src/frontend/engine/DuckObject.js
  src/frontend/game/game.scss
  src/frontend/game/left.scss
  src/frontend/utils/duck.js
Labels: front-end 🌝

#106 모달창 구현 + 모달 요소들 CSS
  src/frontend/engine/ModalObject.js
  src/frontend/game/game.scss
  src/frontend/utils/css.js
Labels: front-end 🌝

#111 PlayerManager 구현. 그외 자잘한 버그들 대응?
  src/backend/game/Game.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/generateRandom.js
  src/frontend/game/game.js
  src/frontend/game/leftTab.js
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/utils/Player.js
  src/frontend/utils/PlayerManager.js
Labels: front-end 🌝

#118 카드 매니저 구현 및 Teller 카드 보여주기 구현
  src/frontend/engine/CardObject.js
  src/frontend/game/game.js
  src/frontend/scenes/guesserWaiting/cardPosition.json
  src/frontend/scenes/guesserWaiting/guesserWaiting.scss
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/tellerSelectCard/tellerSelectCard.scss
  src/frontend/utils/CardManager.js
  src/frontend/utils/card.js
  src/frontend/utils/cardPosition.json
  src/frontend/utils/common.scss
  src/frontend/utils/scene.js
Labels: front-end 🌝

#116 winston 로거로 사용자 input 로그 남기기
  src/backend/sockets/chat.js
  src/backend/sockets/waitingRoom.js
Labels: back-end 🌚

#123 waitingRoom에서 움직이는 오리
  src/frontend/engine/DuckObject.js
  src/frontend/engine/GameObject.js
  src/frontend/game/game.scss
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/waitingRoom.scss
  src/frontend/utils/common.scss
Labels: front-end 🌝

#124 리드미 수정 및 간단한 코드 수정
  README.md
  src/backend/game/Game.js
  src/frontend/engine/GameObject.js
  src/frontend/favicon.ico
  src/frontend/game/game.html
  src/frontend/game/game.scss
  src/frontend/main/index.html
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/utils/svg.js
Labels: back-end 🌚, bug 💩, documentation 📄, front-end 🌝, prod server ☁️

#128 fix: 이미지 뒷면이 안 나오는 버그
  src/frontend/engine/CardObject.js
Labels: bug 💩

#130 타입스크립트 migration을 위한 작은 시도
  src/backend/game/GameList.d.ts
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/routes/index.ts
  src/backend/sockets/exitRoom.ts
  src/backend/sockets/index.js
  src/backend/tsconfig.json
  src/backend/utils/generateRandom.ts
  src/backend/webpack.config.js
Labels: back-end 🌚, typescript

#132 express 서버에 HTTPS 적용
  src/backend/.env.sample
  src/backend/server.js
Labels: back-end 🌚

#134 Teller 카드 선택 => Player Waiting으로 연결
  src/backend/game/Game.js
  src/backend/sockets/index.js
  src/backend/sockets/tellerSelectCard.js
  src/backend/sockets/waitingRoom.js
  src/frontend/engine/InputObject.js
  src/frontend/game/game.scss
  src/frontend/scenes/guesserWaiting/index.js
  src/frontend/scenes/guesserWaiting/socket.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/playerWaiting.scss
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/tellerSelectCard/events.js
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/tellerSelectCard/socket.js
  src/frontend/scenes/tellerSelectCard/tellerSelectCard.scss
  src/frontend/scenes/waitingRoom/socket.js
Labels: back-end 🌚, front-end 🌝

#140 파비콘 안보이는 오류 수정
  src/frontend/favicon.ico
  src/frontend/logo.png
  src/frontend/webpack.config.js
Labels: bug 💩, front-end 🌝, refactor 🚀

#137 player waiting scene 레이아웃/스타일링
  src/frontend/engine/GameObject.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/playerWaiting.scss
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/playerWaiting/style.scss
  src/frontend/utils/common.scss
  src/frontend/utils/text.js
  src/frontend/utils/time.js
Labels: front-end 🌝

#138 Guesser Select Card 씬 구현
  src/backend/game/Game.js
  src/backend/sockets/guesserSelectCard.js
  src/backend/sockets/tellerSelectCard.js
  src/frontend/game/game.scss
  src/frontend/scenes/guesserSelectCard/events.js
  src/frontend/scenes/guesserSelectCard/index.js
  src/frontend/scenes/guesserSelectCard/render.js
  src/frontend/scenes/guesserSelectCard/socket.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/guesserWaiting/socket.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/tellerSelectCard/socket.js
  src/frontend/utils/CardManager.js
  src/frontend/utils/cardPosition.json
  src/frontend/utils/scene.js
  src/frontend/utils/text.js
Labels: back-end 🌚, front-end 🌝

#141 음성 채팅 연결 기능
  src/backend/sockets/index.js
  src/backend/sockets/voiceChat.js
  src/frontend/game/game.html
  src/frontend/game/left.scss
  src/frontend/game/leftTab.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/utils/voiceChat.js
Labels: back-end 🌚, bug 💩, front-end 🌝

#147 어쩌면 대대적인 리팩토링 + Game화면 파비콘 추가
  src/frontend/engine/DuckObject.js
  src/frontend/engine/GameObject.js
  src/frontend/engine/InputObject.js
  src/frontend/engine/ModalObject.js
  src/frontend/engine/ProgressBarObject.js
  src/frontend/game/game.scss
  src/frontend/game/leftTab.js
  src/frontend/scenes/guesserSelectCard/render.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/tellerSelectCard/events.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/type/cardPosition.json
  src/frontend/type/css.js
  src/frontend/type/duck.js
  src/frontend/type/number.js
  src/frontend/type/scene.js
  src/frontend/type/svg.js
  src/frontend/type/time.js
  src/frontend/utils/card.js
  src/frontend/utils/modal.js
  src/frontend/utils/text.js
  src/frontend/webpack.config.js
Labels: bug 💩, refactor 🚀

#149 변경된 Socket 명세서 반영 + 카드 한 장씩 떨어지는 효과 연결
  src/backend/sockets/guesserSelectCard.js
  src/backend/sockets/tellerSelectCard.js
  src/frontend/scenes/guesserSelectCard/socket.js
  src/frontend/scenes/guesserWaiting/socket.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/socket.js
  src/frontend/scenes/tellerSelectCard/socket.js
  src/frontend/utils/CardManager.js
Labels: back-end 🌚, front-end 🌝

#151 텔러가 카드 선택했을 때 들어올리는 효과 구현
  src/backend/sockets/waitingRoom.js
  src/backend/utils/number.js
  src/frontend/engine/CardObject.js
  src/frontend/engine/GameObject.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/style.scss
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/scenes/tellerSelectCard/socket.js
  src/frontend/type/time.js
  src/frontend/utils/CardManager.js
  src/frontend/utils/SceneManager.js
Labels: front-end 🌝

#152 점수 말판 레이아웃/스타일링.
  src/frontend/engine/GameObject.js
  src/frontend/engine/ImageObject.js
  src/frontend/game/background.js
  src/frontend/game/game.html
  src/frontend/game/game.js
  src/frontend/game/game.scss
  src/frontend/resources/background.webp
  src/frontend/resources/stone.png
  src/frontend/type/stonePosition.json
  src/frontend/webpack.config.js
Labels: front-end 🌝

#156 jump() 메소드 구현
  src/frontend/engine/GameObject.js
  src/frontend/game/background.js
  src/frontend/game/game.js
  src/frontend/game/game.scss
  src/frontend/resources/background.png
  src/frontend/type/stonePosition.json
  src/frontend/webpack.config.js
Labels: front-end 🌝

#159 카드 섞은 후 보여주는 로직 구현
  src/frontend/engine/GameObject.js
  src/frontend/scenes/mixCard/index.js
  src/frontend/scenes/mixCard/render.js
  src/frontend/type/cardPosition.json
  src/frontend/type/number.js
  src/frontend/type/scene.js
Labels: front-end 🌝

#155 텔러가 카드 선택하지 않았을 때 랜덤으로 선택된 값 보내주는 기능
  src/backend/game/Game.js
  src/backend/game/User.js
  src/backend/sockets/guesserSelectCard.js
  src/backend/sockets/index.js
  src/backend/sockets/tellerSelectCard.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/cardTopic.json
  src/backend/utils/gameState.js
  src/backend/utils/number.js
Labels: back-end 🌚

#153 프론트엔드 리팩토링, 오리 움직임 구현
  src/backend/sockets/duckMove.js
  src/backend/sockets/index.js
  src/frontend/engine/DuckCursorObject.js
  src/frontend/engine/DuckLeftTabObject.js
  src/frontend/engine/DuckObject.js
  src/frontend/engine/DuckTellerObject.js
  src/frontend/game/LeftTab.js
  src/frontend/game/game.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/type/time.js
  src/frontend/utils/Player.js
  src/frontend/utils/PlayerManager.js
  src/frontend/utils/duck.js
Labels: front-end 🌝, refactor 🚀

#167 Duck 클래스 리팩토링, 기능추가
  src/frontend/engine/DuckCursorObject.js
  src/frontend/engine/DuckLeftTabObject.js
  src/frontend/engine/DuckObject.js
  src/frontend/engine/DuckTellerObject.js
  src/frontend/game/LeftTab.js
  src/frontend/game/left.scss
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/type/duck.js
  src/frontend/utils/Player.js
  src/frontend/utils/PlayerManager.js
  src/frontend/utils/common.scss
Labels: front-end 🌝

#169 ~ Player waiting 씬 시간 관리 + Mix Card 연결
  src/backend/game/Game.js
  src/backend/sockets/guesserSelectCard.js
  src/backend/sockets/tellerSelectCard.js
  src/backend/utils/generateRandom.ts
  src/backend/utils/number.js
  src/frontend/engine/CardObject.js
  src/frontend/engine/ProgressBarObject.js
  src/frontend/game/game.js
  src/frontend/scenes/guesserSelectCard/index.js
  src/frontend/scenes/guesserSelectCard/render.js
  src/frontend/scenes/guesserSelectCard/socket.js
  src/frontend/scenes/guesserWaiting/index.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/guesserWaiting/socket.js
  src/frontend/scenes/mixCard/render.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/playerWaiting/socket.js
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/tellerSelectCard/socket.js
  src/frontend/type/cardPosition.json
  src/frontend/type/number.js
  src/frontend/type/time.js
  src/frontend/utils/CardManager.js
  src/frontend/utils/PlayerManager.js
Labels: back-end 🌚, front-end 🌝

#171 대기실 색상표 레이아웃/스타일링
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/scenes/waitingRoom/waitingRoom.scss
  src/frontend/type/defaultColors.json
  src/frontend/type/svg.js
  src/frontend/utils/common.scss
  src/frontend/utils/hexColor.js
Labels: front-end 🌝

#170 라운드 스코어 계산
  src/backend/utils/calcScore.js
Labels: back-end 🌚

#175 준비상태에 있는 오리들만 보이게 수정
  src/backend/game/User.js
  src/frontend/engine/DuckCursorObject.js
  src/frontend/engine/DuckObject.js
  src/frontend/game/game.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/socket.js
  src/frontend/utils/Player.js
Labels: front-end 🌝

#178 Teller Select ~ Player Waiting 씬별 오리 visible 관리
  src/frontend/engine/DuckCursorObject.js
  src/frontend/engine/ProgressBarObject.js
  src/frontend/scenes/guesserSelectCard/socket.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/playerWaiting/socket.js
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/utils/SceneManager.js
Labels: front-end 🌝

#181 다채로운 Progress Bar
  src/frontend/engine/ProgressBarObject.js
  src/frontend/utils/common.scss
Labels: front-end 🌝

#176 텔러가 고르고 있는 카드가 게서들에게 보여짐
  src/backend/sockets/tellerSelectCard.js
  src/frontend/engine/CardObject.js
  src/frontend/scenes/guesserWaiting/index.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/guesserWaiting/socket.js
  src/frontend/scenes/tellerSelectCard/render.js
Labels: back-end 🌚, front-end 🌝

#186 0번 카드 버그 수정 (#126)
  src/frontend/utils/card.js
Labels: bug 💩, front-end 🌝

#184 Discussion 화면, 스킵 기능 + MixCard와 Discussion 이어 붙이기
  src/backend/game/Game.js
  src/backend/game/User.js
  src/backend/sockets/discussion.js
  src/backend/sockets/index.js
  src/backend/utils/number.js
  src/frontend/scenes/discussion/discussion.scss
  src/frontend/scenes/discussion/events.js
  src/frontend/scenes/discussion/index.js
  src/frontend/scenes/discussion/render.js
  src/frontend/scenes/discussion/socket.js
  src/frontend/scenes/mixCard/index.js
  src/frontend/scenes/mixCard/render.js
  src/frontend/scenes/mixCard/socket.js
  src/frontend/utils/text.js
Labels: back-end 🌚, front-end 🌝

#190 가이드 버튼 만들기
  src/frontend/game/game.scss
  src/frontend/scenes/guesserSelectCard/render.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/type/svg.js
  src/frontend/utils/common.scss
  src/frontend/utils/modal.js
  src/frontend/utils/text.js
Labels: front-end 🌝

#191 4주차 배포
  .github/workflows/deploy.yml
  src/backend/game/Game.js
  src/backend/game/User.js
  src/backend/sockets/discussion.js
  src/backend/sockets/index.js
  src/backend/sockets/tellerSelectCard.js
  src/backend/utils/number.js
  src/frontend/engine/CardObject.js
  src/frontend/engine/DuckCursorObject.js
  src/frontend/engine/ProgressBarObject.js
  src/frontend/game/game.scss
  src/frontend/scenes/discussion/discussion.scss
  src/frontend/scenes/discussion/events.js
  src/frontend/scenes/discussion/index.js
  src/frontend/scenes/discussion/render.js
  src/frontend/scenes/discussion/socket.js
  src/frontend/scenes/guesserSelectCard/render.js
  src/frontend/scenes/guesserSelectCard/socket.js
  src/frontend/scenes/guesserWaiting/index.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/guesserWaiting/socket.js
  src/frontend/scenes/mixCard/index.js
  src/frontend/scenes/mixCard/render.js
  src/frontend/scenes/mixCard/socket.js
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/playerWaiting/socket.js
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/type/svg.js
  src/frontend/utils/SceneManager.js
  src/frontend/utils/card.js
  src/frontend/utils/common.scss
  src/frontend/utils/modal.js
  src/frontend/utils/text.js
Labels: prod server ☁️

#198 프론트엔드 소켓 리팩토링
  src/frontend/engine/ProgressBarObject.js
  src/frontend/game/game.js
  src/frontend/scenes/discussion/discussion.scss
  src/frontend/scenes/discussion/index.js
  src/frontend/scenes/discussion/render.js
  src/frontend/scenes/guesserSelectCard/index.js
  src/frontend/scenes/guesserSelectCard/render.js
  src/frontend/scenes/guesserWaiting/index.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/mixCard/index.js
  src/frontend/scenes/mixCard/render.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/roundStart/index.js
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/socket/discussion.js
  src/frontend/socket/guesserSelectCard.js
  src/frontend/socket/guesserWaiting.js
  src/frontend/socket/index.js
  src/frontend/socket/mixCard.js
  src/frontend/socket/playerWaiting.js
  src/frontend/socket/tellerSelectCard.js
  src/frontend/socket/waitingRoom.js
  src/frontend/type/scene.js
  src/frontend/utils/SceneManager.js
  src/frontend/webpack.config.js
Labels: front-end 🌝, meeting 👨‍👨‍👧‍👦, refactor 🚀

#195 백엔드 구조 리팩토링
  src/backend/game/Game.js
  src/backend/game/GameMethods/common.js
  src/backend/game/GameMethods/discussionScene.js
  src/backend/game/GameMethods/guesserScene.js
  src/backend/game/GameMethods/index.js
  src/backend/game/GameMethods/tellerScene.js
  src/backend/game/GameMethods/user.js
  src/backend/game/GameMethods/waitingScene.js
  src/backend/game/User.js
  src/backend/sockets/chat.js
  src/backend/sockets/discussion.js
  src/backend/sockets/exitRoom.ts
  src/backend/sockets/guesserSelectCard.js
  src/backend/sockets/tellerSelectCard.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/calcScore.js
  src/backend/utils/cardTopic.json
  src/backend/utils/gameState.d.ts
  src/backend/utils/gameState.js
  src/backend/utils/generateRandom.ts
  src/frontend/utils/socket.js
  src/frontend/utils/voiceChat.js
Labels: back-end 🌚, refactor 🚀

#187 라운드 종료 화면
  src/frontend/game/game.scss
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/scenes/scoreboard/index.js
  src/frontend/scenes/scoreboard/render.js
  src/frontend/scenes/scoreboard/style.scss
  src/frontend/scenes/scoreboard/template.html
  src/frontend/utils/dom.js
  src/frontend/webpack.config.js
Labels: front-end 🌝, meeting 👨‍👨‍👧‍👦

#202 Progress bar 중복으로 렌더되는 버그 해결
  src/frontend/engine/ProgressBarObject.js
  src/frontend/utils/SceneManager.js
Labels: bug 💩, emergency🚨, front-end 🌝

#208 애니메이션 시간 지나면 강제로 끝나게 함
  src/frontend/engine/GameObject.js
Labels: front-end 🌝

#209 Vote 씬 구현
  src/frontend/scenes/vote/events.js
  src/frontend/scenes/vote/index.js
  src/frontend/scenes/vote/render.js
  src/frontend/scenes/vote/vote.scss
  src/frontend/socket/index.js
  src/frontend/socket/vote.js
  src/frontend/utils/CardManager.js
  src/frontend/utils/SceneManager.js
  src/frontend/utils/common.scss
  src/frontend/utils/text.js
Labels: front-end 🌝

#216 end game scene 레이아웃/스타일링/소켓 이벤트
  src/frontend/engine/GameObject.js
  src/frontend/scenes/endGame/index.js
  src/frontend/scenes/endGame/render.js
  src/frontend/scenes/endGame/style.scss
  src/frontend/scenes/endGame/template.html
  src/frontend/socket/endGame.js
  src/frontend/socket/index.js
  src/frontend/utils/Player.js
Labels: front-end 🌝

#218 vote, vote result 백엔드 코드
  src/backend/game/Game.js
  src/backend/game/GameMethods/common.js
  src/backend/game/GameMethods/discussionScene.js
  src/backend/game/GameMethods/guesserScene.js
  src/backend/game/GameMethods/index.js
  src/backend/game/GameMethods/resultScene.js
  src/backend/game/GameMethods/scoreBoardScene.js
  src/backend/game/GameMethods/tellerScene.js
  src/backend/game/GameMethods/voteScene.js
  src/backend/game/GameMethods/waitingScene.js
  src/backend/game/User.js
  src/backend/sockets/discussion.js
  src/backend/sockets/guesserSelectCard.js
  src/backend/sockets/index.js
  src/backend/sockets/tellerSelectCard.js
  src/backend/sockets/vote.js
  src/backend/utils/calcScore.js
  src/backend/utils/gameState.js
  src/backend/utils/number.js
Labels: back-end 🌚

#222 핫픽스: 게임 종료될 때 스테이트 ERROR로 바꿈
  src/backend/sockets/exitRoom.ts
  src/backend/utils/gameState.js
Labels: back-end 🌚, bug 💩

#224 Scene 연결하기
  src/frontend/scenes/mixCard/index.js
  src/frontend/scenes/mixCard/render.js
  src/frontend/scenes/voteResult/render.js
  src/frontend/socket/discussion.js
  src/frontend/socket/index.js
  src/frontend/socket/mixCard.js
  src/frontend/socket/playerWaiting.js
Labels: emergency🚨, front-end 🌝

#225 스코어보드 백엔드 코드 (서버 코드 다 완성)
  src/backend/game/Card.js
  src/backend/game/GameMethods/common.js
  src/backend/game/GameMethods/discussionScene.js
  src/backend/game/GameMethods/resultScene.js
  src/backend/game/GameMethods/scoreBoardScene.js
  src/backend/game/GameMethods/voteScene.js
  src/backend/game/GameMethods/waitingScene.js
  src/backend/game/User.js
  src/backend/utils/number.js
Labels: back-end 🌚

#229 왕관 SVG 추가 (#135)
  src/frontend/utils/duck.js
Labels: front-end 🌝

#228 내 카드 선택 못하게 막기 및 기타 오류 수정
  src/frontend/scenes/discussion/discussion.scss
  src/frontend/scenes/discussion/render.js
  src/frontend/scenes/guesserSelectCard/events.js
  src/frontend/scenes/vote/render.js
  src/frontend/scenes/voteResult/render.js
  src/frontend/scenes/voteResult/voteResult.scss
  src/frontend/socket/playerWaiting.js
Labels: bug 💩, front-end 🌝, refactor 🚀

#227 Refactor : 중복되는 CSS 코드 제거
  src/frontend/game/game.scss
  src/frontend/game/left.scss
  src/frontend/main/index.js
  src/frontend/main/main.scss
  src/frontend/scenes/discussion/index.js
  src/frontend/scenes/discussion/render.js
  src/frontend/scenes/discussion/style.scss
  src/frontend/scenes/endGame/render.js
  src/frontend/scenes/endGame/style.scss
  src/frontend/scenes/guesserWaiting/guesserWaiting.scss
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/guesserWaiting/style.scss
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/playerWaiting/style.scss
  src/frontend/scenes/scoreboard/render.js
  src/frontend/scenes/tellerSelectCard/render.js
  src/frontend/scenes/tellerSelectCard/style.scss
  src/frontend/scenes/vote/render.js
  src/frontend/scenes/vote/style.scss
  src/frontend/scenes/voteResult/render.js
  src/frontend/scenes/voteResult/style.scss
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/scenes/waitingRoom/style.scss
  src/frontend/utils/SceneManager.js
  src/frontend/utils/common.scss
  src/frontend/utils/variable.scss
Labels: front-end 🌝, refactor 🚀

#231 타이머가 올바르게 작동하지 않는 버그 수정
  src/frontend/engine/ProgressBarObject.js
  src/frontend/game/game.scss
  src/frontend/utils/SceneManager.js
Labels: bug 💩, front-end 🌝

#230 게임 오브젝트 move 픽스
  src/frontend/engine/GameObject.js
Labels: bug 💩, front-end 🌝

#233 점수 slot machine 애니메이션 구현
  src/frontend/scenes/voteResult/render.js
  src/frontend/scenes/voteResult/style.scss
Labels: front-end 🌝

#234 Left Duck 점수 업데이트
  src/frontend/engine/DuckLeftTabObject.js
  src/frontend/game/LeftTab.js
  src/frontend/scenes/scoreboard/index.js
  src/frontend/utils/Player.js
Labels: front-end 🌝

#235 vote result, scoreboard, tellerSelect 씬 연결
  src/backend/game/GameMethods/resultScene.js
  src/backend/game/User.js
  src/backend/utils/calcScore.js
  src/backend/utils/number.js
  src/frontend/scenes/scoreboard/index.js
  src/frontend/scenes/scoreboard/render.js
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/socket/endGame.js
  src/frontend/socket/index.js
  src/frontend/socket/scoreboard.js
  src/frontend/socket/voteResult.js
  src/frontend/socket/waitingRoom.js
  src/frontend/utils/Player.js
Labels: back-end 🌚, front-end 🌝

#239 오리 점프를 랜덤화
  src/frontend/scenes/scoreboard/index.js
  src/frontend/scenes/scoreboard/render.js
  src/frontend/socket/voteResult.js
  src/frontend/utils/Player.js
  src/frontend/utils/PlayerManager.js
Labels: front-end 🌝, optional improvement💅

#240 이런저런 스타일
  src/frontend/engine/ImageObject.js
  src/frontend/main/index.html
  src/frontend/main/index.js
  src/frontend/main/main.scss
  src/frontend/utils/common.scss
  src/frontend/utils/modal.js
  src/frontend/utils/variable.scss
Labels: front-end 🌝

#244 fix: 카드 submit하면 카드 목록에서 삭제
  src/backend/game/User.js
Labels: back-end 🌚, bug 💩, emergency🚨

#249 chore: 돌멩이 주소 문제 해결
  src/frontend/webpack.config.js
Labels: environment ⚙️, front-end 🌝

#250 CardManager 관리 및 Object 삭제
  src/frontend/scenes/scoreboard/render.js
  src/frontend/socket/scoreboard.js
  src/frontend/socket/waitingRoom.js
  src/frontend/utils/CardManager.js
Labels: emergency🚨, front-end 🌝

#248 오리 모자 위치 수정, 우승자 오리 왕관 추가
  src/frontend/engine/DuckObject.js
  src/frontend/scenes/endGame/render.js
  src/frontend/utils/common.scss
  src/frontend/utils/duck.js
Labels: bug 💩, front-end 🌝

#241 feat: end game scene 버튼 이벤트 지정
  src/frontend/scenes/endGame/events.js
  src/frontend/scenes/endGame/render.js
Labels: front-end 🌝

#251 5주차 2차 QA 레츠기릿
  src/frontend/engine/DuckObject.js
  src/frontend/scenes/endGame/events.js
  src/frontend/scenes/endGame/render.js
  src/frontend/scenes/scoreboard/render.js
  src/frontend/socket/scoreboard.js
  src/frontend/socket/waitingRoom.js
  src/frontend/utils/CardManager.js
  src/frontend/utils/common.scss
  src/frontend/utils/duck.js
  src/frontend/webpack.config.js
Labels: prod server ☁️

#242 가이드에 책장 넘기기 애니메이션 추가
  src/frontend/game/game.scss
  src/frontend/resources/bookcover.jpg
  src/frontend/utils/common.scss
  src/frontend/utils/modal.js
  src/frontend/utils/text.js
Labels: front-end 🌝

#261 BE 이슈 이것저것 대응
  src/backend/game/GameMethods/scoreBoardScene.js
  src/backend/game/GameMethods/voteScene.js
  src/backend/game/User.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/gameState.js
  src/backend/utils/generateRandom.ts
Labels: back-end 🌚, bug 💩, emergency🚨

#265 end game scene 버그들 대응
  src/frontend/engine/DuckObject.js
  src/frontend/scenes/endGame/render.js
  src/frontend/scenes/endGame/style.scss
  src/frontend/scenes/endGame/template.html
  src/frontend/utils/duck.js
Labels: bug 💩, front-end 🌝

#262 Player ~ Discussion 오리 보이게 하기! + 이전에 낸 오리들 다같이!
  src/frontend/scenes/discussion/index.js
  src/frontend/scenes/mixCard/index.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/socket/guesserSelectCard.js
  src/frontend/socket/guesserWaiting.js
  src/frontend/socket/scoreboard.js
  src/frontend/socket/tellerSelectCard.js
  src/frontend/utils/CardManager.js
  src/frontend/utils/SceneManager.js
Labels: front-end 🌝

#264 코드 복사시 알림창 띄우기
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/scenes/waitingRoom/style.scss
  src/frontend/type/time.js
Labels: front-end 🌝

#260 화면 전환시 modal창 닫히게 하기
  src/frontend/scenes/playerWaiting/render.js
Labels: bug 💩, front-end 🌝

#267 5주차 3차 QA 레고레고
  src/backend/game/GameMethods/scoreBoardScene.js
  src/backend/game/GameMethods/voteScene.js
  src/backend/game/GameMethods/waitingScene.js
  src/backend/game/User.js
  src/backend/routes/index.ts
  src/backend/sockets/waitingRoom.js
  src/backend/utils/apiMessage.json
  src/backend/utils/gameState.js
  src/backend/utils/generateRandom.ts
  src/frontend/engine/DuckObject.js
  src/frontend/game/game.js
  src/frontend/game/game.scss
  src/frontend/resources/bookcover.jpg
  src/frontend/scenes/discussion/index.js
  src/frontend/scenes/endGame/render.js
  src/frontend/scenes/endGame/style.scss
  src/frontend/scenes/endGame/template.html
  src/frontend/scenes/mixCard/index.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/scenes/waitingRoom/style.scss
  src/frontend/socket/guesserSelectCard.js
  src/frontend/socket/guesserWaiting.js
  src/frontend/socket/scoreboard.js
  src/frontend/socket/tellerSelectCard.js
  src/frontend/type/time.js
  src/frontend/utils/CardManager.js
  src/frontend/utils/SceneManager.js
  src/frontend/utils/common.scss
  src/frontend/utils/duck.js
  src/frontend/utils/modal.js
  src/frontend/utils/text.js
Labels: prod server ☁️

#268 HOTFIX
  src/frontend/socket/guesserSelectCard.js
Labels: prod server ☁️

#272 가이드 UI 수정
  src/frontend/resources/bookcover.jpg
  src/frontend/resources/front.png
  src/frontend/resources/page.jpg
  src/frontend/utils/common.scss
  src/frontend/utils/text.js
  src/frontend/webpack.config.js
Labels: front-end 🌝

#274 style: 로비 label 마우스포인팅되도록, 사라지도록 개선
  src/frontend/main/main.scss
Labels: front-end 🌝

#273 waitingRoom 크래시 이슈, vote시간 줄이기, 이미지 용량 줄이기
  src/backend/sockets/chat.js
  src/backend/sockets/duckMove.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/number.js
  src/frontend/main/main.scss
  src/frontend/resources/duxit.jpg
  src/frontend/resources/duxit.png
Labels: back-end 🌚, bug 💩

#266 보이스 채팅 audio태그, 연결 해제 및 재연결, 태그 중복 생성
  src/backend/sockets/exitRoom.ts
  src/backend/sockets/voiceChat.js
  src/frontend/game/LeftTab.js
  src/frontend/game/game.html
  src/frontend/game/voiceChat.js
  src/frontend/utils/voiceChat.js
  src/frontend/utils/voiceChatUtil.js
Labels: bug 💩, front-end 🌝, refactor 🚀

#275 12월 17일 배포
  src/backend/sockets/chat.js
  src/backend/sockets/duckMove.js
  src/backend/sockets/exitRoom.ts
  src/backend/sockets/voiceChat.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/number.js
  src/frontend/game/LeftTab.js
  src/frontend/game/game.html
  src/frontend/game/voiceChat.js
  src/frontend/main/main.scss
  src/frontend/resources/bookcover.jpg
  src/frontend/resources/duxit.jpg
  src/frontend/resources/duxit.png
  src/frontend/resources/front.png
  src/frontend/resources/page.jpg
  src/frontend/utils/common.scss
  src/frontend/utils/text.js
  src/frontend/utils/voiceChat.js
  src/frontend/utils/voiceChatUtil.js
  src/frontend/webpack.config.js
Labels: prod server ☁️

#279 Vote Result에서도 Progress Bar를 보여주게 수정
  src/backend/game/GameMethods/voteScene.js
  src/backend/utils/number.js
  src/frontend/scenes/vote/render.js
  src/frontend/scenes/voteResult/index.js
  src/frontend/scenes/voteResult/render.js
  src/frontend/socket/vote.js
Labels: back-end 🌚, front-end 🌝

#281 #277 #278 이슈 대응
  src/frontend/scenes/endGame/style.scss
  src/frontend/scenes/scoreboard/render.js
Labels: front-end 🌝, refactor 🚀

#280 음성 채팅 버튼 스타일, 스피커 버튼
  src/frontend/engine/DuckLeftTabObject.js
  src/frontend/game/game.html
  src/frontend/game/left.scss
  src/frontend/game/voiceChat.js
  src/frontend/resources/joined.mp3
  src/frontend/resources/left.mp3
  src/frontend/resources/speaker-active.png
  src/frontend/resources/speaker-deactive.png
  src/frontend/utils/voiceChatUtil.js
  src/frontend/webpack.config.js
Labels: front-end 🌝

#282 헝가리안 표기법으로 리팩토링 + 빈 문자열을 닉네임으로 설정할 때 되돌리기
  src/backend/game/GameMethods/common.js
  src/backend/game/GameMethods/scoreBoardScene.js
  src/backend/game/GameMethods/user.js
  src/backend/game/User.js
  src/backend/sockets/discussion.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/calcScore.js
  src/frontend/engine/CardObject.js
  src/frontend/engine/DuckCursorObject.js
  src/frontend/engine/ProgressBarObject.js
  src/frontend/game/LeftTab.js
  src/frontend/scenes/discussion/events.js
  src/frontend/scenes/discussion/index.js
  src/frontend/scenes/endGame/index.js
  src/frontend/scenes/guesserSelectCard/index.js
  src/frontend/scenes/guesserWaiting/index.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/mixCard/index.js
  src/frontend/scenes/mixCard/render.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/scoreboard/index.js
  src/frontend/scenes/scoreboard/render.js
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/scenes/vote/index.js
  src/frontend/scenes/voteResult/index.js
  src/frontend/scenes/voteResult/render.js
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/socket/scoreboard.js
  src/frontend/socket/waitingRoom.js
  src/frontend/utils/CardManager.js
  src/frontend/utils/Player.js
  src/frontend/utils/PlayerManager.js
  src/frontend/utils/SceneManager.js
  src/frontend/utils/voiceChatUtil.js
Labels: back-end 🌚, front-end 🌝, refactor 🚀

#283 12월 17일 저녁 배포
  src/backend/game/GameMethods/common.js
  src/backend/game/GameMethods/scoreBoardScene.js
  src/backend/game/GameMethods/user.js
  src/backend/game/GameMethods/voteScene.js
  src/backend/game/User.js
  src/backend/sockets/discussion.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/calcScore.js
  src/backend/utils/number.js
  src/frontend/engine/CardObject.js
  src/frontend/engine/DuckCursorObject.js
  src/frontend/engine/DuckLeftTabObject.js
  src/frontend/engine/ProgressBarObject.js
  src/frontend/game/LeftTab.js
  src/frontend/game/game.html
  src/frontend/game/left.scss
  src/frontend/game/voiceChat.js
  src/frontend/resources/joined.mp3
  src/frontend/resources/left.mp3
  src/frontend/resources/speaker-active.png
  src/frontend/resources/speaker-deactive.png
  src/frontend/scenes/discussion/events.js
  src/frontend/scenes/discussion/index.js
  src/frontend/scenes/endGame/index.js
  src/frontend/scenes/endGame/style.scss
  src/frontend/scenes/guesserSelectCard/index.js
  src/frontend/scenes/guesserWaiting/index.js
  src/frontend/scenes/guesserWaiting/render.js
  src/frontend/scenes/mixCard/index.js
  src/frontend/scenes/mixCard/render.js
  src/frontend/scenes/playerWaiting/index.js
  src/frontend/scenes/playerWaiting/render.js
  src/frontend/scenes/scoreboard/index.js
  src/frontend/scenes/scoreboard/render.js
  src/frontend/scenes/tellerSelectCard/index.js
  src/frontend/scenes/vote/index.js
  src/frontend/scenes/vote/render.js
  src/frontend/scenes/voteResult/index.js
  src/frontend/scenes/voteResult/render.js
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/render.js
  src/frontend/socket/scoreboard.js
  src/frontend/socket/vote.js
  src/frontend/socket/waitingRoom.js
  src/frontend/utils/CardManager.js
  src/frontend/utils/Player.js
  src/frontend/utils/PlayerManager.js
  src/frontend/utils/SceneManager.js
  src/frontend/utils/voiceChatUtil.js
  src/frontend/webpack.config.js
Labels: prod server ☁️

#289 리드미 업데이트
  README.md
Labels: documentation 📄

#290 fix: 카드가 안 받아졌어도 나중에 다시 받게 함
  src/frontend/utils/CardManager.js
Labels: bug 💩, front-end 🌝
