Repository boostcamp-2020/Project18-B-Web-Duxit, pull requests merged in 2020-11, with the labels that each got.

#4 BE, FE 프로젝트 기본 설정
  .gitignore
  README.md
  src/backend/.eslintignore
  src/backend/.eslintrc.js
  src/backend/.prettierrc.json
  src/backend/app.js
  src/backend/babel.config.js
  src/backend/bin/www
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/routes/index.js
  src/backend/webpack.config.js
  src/frontend/.eslintignore
  src/frontend/.eslintrc.js
  src/frontend/.prettierrc.json
  src/frontend/.stylelintignore
  src/frontend/.stylelintrc.js
  src/frontend/babel.config.js
  src/frontend/index.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/resources/index.html
  src/frontend/style.scss
  src/frontend/webpack.config.js
Labels: back-end 🌚, emergency🚨, environment ⚙️, front-end 🌝

#32 FE/BE dotenv 설정
  src/backend/.env.sample
  src/backend/app.js
  src/backend/package-lock.json
  src/backend/package.json
  src/frontend/.env.sample
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/webpack.config.js
Labels: back-end 🌚, environment ⚙️, front-end 🌝

#33 chore: FE 멀티 페이지 번들링
  src/frontend/game.js
  src/frontend/resources/game.html
  src/frontend/webpack.config.js
Labels: environment ⚙️, front-end 🌝

#38 [Feat/index page] 메인 페이지 구현 #10
  package-lock.json
  src/frontend/.env.sample
  src/frontend/babel.config.js
  src/frontend/index.js
  src/frontend/main/index.html
  src/frontend/main/index.js
  src/frontend/main/index.scss
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/resources/duxit.png
  src/frontend/resources/index.html
  src/frontend/utils/requestHandler.js
  src/frontend/webpack.config.js
Labels: front-end 🌝

#40 [BE] 게임방 생성/입장 로직 구현
  .vscode/settings.json
  src/backend/.eslintrc.js
  src/backend/app.js
  src/backend/game/Game.js
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/routes/index.js
  src/backend/webpack.config.js
Labels: back-end 🌚, environment ⚙️

#41 게임 엔진 작성, 게임 엔진 기반의 게임 대기실 레이아웃/스타일링
  src/frontend/babel.config.js
  src/frontend/engine/ButtonObject.js
  src/frontend/engine/GameObject.js
  src/frontend/engine/ImageObject.js
  src/frontend/engine/InputObject.js
  src/frontend/engine/SvgObject.js
  src/frontend/engine/TextObject.js
  src/frontend/engine/index.js
  src/frontend/game.js
  src/frontend/game/game.html
  src/frontend/game/game.js
  src/frontend/game/game.scss
  src/frontend/main/index.html
  src/frontend/main/index.js
  src/frontend/main/index.scss
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/resources/game.html
  src/frontend/scenes/waitingRoom/events.js
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/waitingRoom.scss
  src/frontend/style.scss
  src/frontend/utils/common.scss
  src/frontend/utils/svg.js
  src/frontend/webpack.config.js
Labels: front-end 🌝

#44 socket.io CORS 해결 및 백엔드 웹팩 재설정
  src/backend/app.js
  src/backend/bin/www
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/sockets/index.js
  src/backend/webpack.config.js
  src/frontend/.eslintrc.js
  src/frontend/game/game.js
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: back-end 🌚, front-end 🌝

#49 Logger 설정
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/utils/winston.js
  src/backend/webpack.config.js
Labels: back-end 🌚, environment ⚙️

#47 메인페이지의 HTTP Request가 대응되도록 코드 일부 수정
  src/backend/.env.sample
  src/backend/app.js
  src/backend/package.json
  src/backend/routes/index.js
  src/backend/server.js
  src/backend/webpack.config.js
  src/frontend/main/index.js
  src/frontend/utils/requestHandler.js
Labels: back-end 🌚, front-end 🌝

#51 [Feat/chat#45] 서버 플레이어 참여 및 채팅 관련 소켓핸들링, dotenv 템플릿 수정
  src/backend/.env.sample
  src/backend/game/Game.js
  src/backend/game/Games.js
  src/backend/routes/index.js
  src/backend/server.js
  src/backend/sockets/chat.js
  src/backend/sockets/index.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/generateRandom.js
  src/backend/utils/socket.js
  src/frontend/.env.sample
  src/frontend/game/game.js
Labels: back-end 🌚

#50 우측 채팅창 레이아웃/스타일링, 이벤트 대응, FE webpack alias
  src/frontend/.eslintrc.js
  src/frontend/game/game.html
  src/frontend/game/game.js
  src/frontend/game/game.scss
  src/frontend/main/index.js
  src/frontend/main/index.scss
  src/frontend/scenes/waitingRoom/index.js
  src/frontend/scenes/waitingRoom/waitingRoom.scss
  src/frontend/utils/common.scss
  src/frontend/utils/socket.js
  src/frontend/webpack.config.js
Labels: environment ⚙️, front-end 🌝

#52 [Feat/chat#45] 유저 클래스 추가 및 채팅 핸들러에서 닉네임 보내주게 수정
  src/backend/game/Game.js
  src/backend/game/Games.js
  src/backend/game/User.js
  src/backend/routes/index.js
  src/backend/sockets/chat.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/generateRandom.js
Labels: back-end 🌚

#56 [Feat/styling] 채팅 메시지 스타일링 수정 + dom 유틸함수 추가
  src/frontend/engine/ButtonObject.js
  src/frontend/engine/GameObject.js
  src/frontend/engine/InputObject.js
  src/frontend/engine/SvgObject.js
  src/frontend/game/game.html
  src/frontend/game/game.js
  src/frontend/game/game.scss
  src/frontend/main/index.html
  src/frontend/main/index.js
  src/frontend/utils/common.scss
  src/frontend/utils/dom.js
Labels: front-end 🌝, refactor 🚀

#58 Docs : README 수정
  README.md
  package-lock.json
Labels: documentation 📄

#59 2주차 수정 후 재배포
  src/frontend/engine/ButtonObject.js
  src/frontend/engine/GameObject.js
  src/frontend/engine/InputObject.js
  src/frontend/engine/SvgObject.js
  src/frontend/game/game.html
  src/frontend/game/game.js
  src/frontend/game/game.scss
  src/frontend/main/index.html
  src/frontend/main/index.js
  src/frontend/utils/common.scss
  src/frontend/utils/dom.js
Labels: prod server ☁️

#57 refactor: socket 코드 부분 리팩토링
  src/backend/sockets/chat.js
  src/backend/sockets/index.js
  src/backend/sockets/waitingRoom.js
Labels: back-end 🌚, refactor 🚀

#60 generate random nickname 함수 구현
  src/backend/utils/generateRandom.js
  src/backend/utils/nickname.json
Labels: back-end 🌚

#61 Week2 Hotfixes
  src/backend/sockets/chat.js
  src/backend/sockets/index.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/generateRandom.js
  src/backend/utils/nickname.json
Labels: prod server ☁️

#65 백엔드 리팩토링, 메모리 누수 픽스
  src/backend/game/Game.js
  src/backend/game/GameList.js
  src/backend/game/Games.js
  src/backend/game/User.js
  src/backend/routes/index.js
  src/backend/sockets/chat.js
  src/backend/sockets/exitRoom.js
  src/backend/sockets/index.js
  src/backend/sockets/waitingRoom.js
  src/backend/utils/generateRandom.js
Labels: back-end 🌚, bug 💩, refactor 🚀

#63 GitHub Actions 스크립트로 master merge 시 자동 배포 스크립트 실행
  .github/workflows/deploy.yml
Labels: environment ⚙️, meeting 👨‍👨‍👧‍👦, prod server ☁️
